#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
html{
  overflow: hidden;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.chart-container {
  position: relative;
  width: calc(90vw - 4rem);
  height: calc(100vh - 6rem);
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
}
.chart-header {
  height: 32px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
}
.chat-title{
  font-weight: bolder;
}
.clear-btn{
  font-size: 12px;
}
.message-input-container {
  width: 100%;
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
}
.message-textarea {
  flex: 1;
}
.message-btn {
  margin-left: 16px;
  width: 80px;
}

.message-list {
  height: calc(100% - 100px);
  overflow: auto;
}

.user-msg {
  flex-direction: row-reverse;
}

.msg-container {
  display: flex;
  align-items: center;
  min-height: 48px;
}
.msg-txt {
  text-align: left;
  max-width: 50%;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 12px;
}
.ai-msg .msg-txt {
  background-color: rgba(81, 188, 202, 0.606);
}
.start-conversation{
  width: 100%;
  height: calc(100% - 100px);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
